$classname-list: "best-movie", "top-rated", "history", "adventure", "action";
$second_color : rgba(8, 32, 242, 0.85);
$close-color: #ff365e;
$main-color: hsla(0, 0%, 100%, 0.802);
$title-font: rgba(4, 2, 23, 0.727);

@mixin img-scale($width, $heigth) {
    margin-left: 2em;
    margin-bottom: 3em;
    @include border;
    position: relative;
    width: $width;
    height: $heigth;
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.2);
        box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.558);
    }
}

@mixin center() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin border() {
    border: 0.1em solid $main-color;
    border-radius: 1em;
}

@mixin section_style {
    h3 {
        @include center;
        font-size: 2.7em;
        text-transform: capitalize;
    }

    div {
        @include center;
    }

    img {
        @include img-scale(14em, 20em);
    }

    button {
        @include border;
        height: 3em;
        width: 5em;
        font-size: 20px;
        padding: 0.5em;
        cursor: pointer;
        text-align: center;
        color: $second_color;
        background-color: darken($main-color, 30%);
        margin: 10px;

        &:hover {
            cursor: pointer;
            background-color: $main-color;
            transform: scale(1.4);
        }
    }
}

@mixin applicate-on-designated-id($class-list) {
    $first-section: nth($class-list, 1);

    @each $class in $class-list {
        @if $class ==$first-section {
            .#{$class} {
                margin: 0px;
                height: 700px;

                h3 {
                    margin: 3px;
                    text-align: center;
                    font-size: 3em;
                }

                p {
                    text-align: center;
                    padding: 1em;
                    font-weight: bold;
                    width: 500px;
                }

                img {
                    @include border;
                    left: 620px;
                    bottom: 220px;
                    @include img-scale(32em, 38em);
                }

                button {
                    width: 50px;
                    height: 50px;
                    transform: translate(520px, 170px);
                    background-image: url('https://cdn-icons-png.flaticon.com/512/2468/2468801.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }

        @else {
            .#{$class} {
                @include section-style;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    header {
        background-color: $title-font;
        text-align: center;
        font-size: 2em;

        a {
            display: none;
        }

    }

    img {
        @include border;
        @include img-scale(32em, 38em);
    }
}

body {
    @include applicate-on-designated-id($classname-list);
    background: rgb(29, 28, 28);
    color: $main-color;
    font-family: Georgia, serif;
}

header {
    background-color: $title-font;
    text-align: center;
    font-size: 3rem;
    padding: 20px;

    h1 {
        padding: 20px;
        margin: 0px;
    }

    a {
        padding: 20px;
        margin: 20px auto;
        text-decoration: none;
        font-size: 0.6em;
        color: $main-color;
        font-weight: bold;

        &:hover {
            color: $main-color;
            font-size: 1em;
        }
    }

}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    color: $second_color;

    h3 {
        font-size: 2.6em;
        text-align: center;
        margin: 0px;
    }

    dl {
        margin: 20px;

        dt {
            font-weight: bold;
            padding: 2px;
        }
    }

    &__header {
        img {
            float: left;
            @include border;
            width: 200px;
            height: 275px;
            margin: 14px;
        }
    }

    &__body {
        margin-top: 130px;
        text-transform: capitalize;
    }

    &.active {
        display: block;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: hwb(0 0% 100% / 0.815);
    }

    &__modal {
        width: 45%;
        height: 85%;
        margin: 100px auto;
        padding: 30px;
        background: $main-color;
        border-radius: 5px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
        @include border;
        overflow: auto;
        word-wrap: break-word;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: #0d1edf79;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $second_color;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: darken($second_color, 20%);
        }

    }

    &__close {
        padding: 8px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background: $close-color;
        color: $main-color;

        &:hover {
            background-color: darken($close-color, 20%);
        }
    }
}